<div #weatherInfos id="weatherInfos" class="row" *ngIf="weatherCity">
  <div class="col-lg-12 text-center v-center">
    <h1 class="city">{{weatherCity.location.city}}</h1>
  </div>
  <div id="temp" class="col-lg-12">
    <div class="col-xs-6 text-right">
      <svg class="Va(m) Px(6px) Cur(p)" height="27" viewBox="0 0 48 48" data-icon="arrow-up" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0; vertical-align: bottom;">
        <path d="M13.764 18.75c-.792.772-.808 2.037-.04 2.828.772.792 2.038.81 2.83.04l5.678-5.526v23.59h4v-23.59l5.68 5.525c.79.77 2.058.753 2.827-.04.377-.388.565-.89.565-1.394 0-.52-.202-1.042-.605-1.434L24.23 8.566 13.763 18.75z"></path>
      </svg>
      <span>{{weatherCity.item.forecast[0].high}}°</span>
    </div>
    <div class="col-xs-6">
      <svg class="Va(m) Px(6px) Cur(p)" height="27" viewBox="0 0 48 48" data-icon="arrow-down" style="fill: rgb(255, 255, 255); stroke: rgb(255, 255, 255); stroke-width: 0; vertical-align: bottom;">
        <path d="M34.7 29.5c.793-.773.81-2.038.04-2.83-.77-.79-2.037-.81-2.83-.038l-5.677 5.525V8.567h-4v23.59l-5.68-5.525c-.79-.77-2.058-.753-2.827.04-.378.388-.566.89-.566 1.394 0 .52.202 1.042.605 1.434l10.472 10.183L34.7 29.5z"></path>
      </svg>
      <span>{{weatherCity.item.forecast[0].low}}°</span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-lg-12 cels text-center">
    <span class="now">{{weatherCity.item.condition.temp}}</span>
    <span class="now celsius">°</span>
  </div>
</div>
